---
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from "../lib/contentful";
import { BLOCKS, MARKS } from '@contentful/rich-text-types';
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

interface Sections {
  contentTypeId: "sections",
  fields: {
    name: EntryFieldTypes.Text,
    body: EntryFieldTypes.RichText,
  }
}
//const options = {
//  renderMark: {
//    [MARKS.BOLD]: text => `<custom-bold>${text}<custom-bold>`
//  },
//  renderNode: {
//    [BLOCKS.TABLE]: (node, next) => `<table class="table">${next(node.content)}</table>`,
//  }
//}

// table table-header-cell table-row table-cell  


const section = await contentfulClient.getEntry('2G0KAoURqZZpNRWWlaYSB4')
const rawRichTextField = section.fields.body;
// const body = documentToHtmlString(rawRichTextField);
const body = "testing";


//const entries = await contentfulClient.getEntries<Sections>({
//  content_type: "sections",
//  
//});

//console.log(rawRichTextField)
//console.log(title)

---

<style is:global>

	h1 {
		color: rgb(8, 9, 0)
	}
	table, th, td {
 		border: 1px solid white;
  		border-collapse: collapse;
	}
	th {
		background-color: rgb(219, 236, 157);

	}
	td {
  		background-color: #dadbd7;
	  	padding-right: 5em;
	}
</style>
<Layout title="Playing">
	<body style="background-color:rgb(244, 246, 236);">
		<Fragment class="text-gradient" set:html={body}></Fragment>
	</body>
</Layout>







